In [1]:
import urllib3
import json
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import requests

In [2]:
request = requests.get(f'https://servicodados.ibge.gov.br/api/v3/agregados/7437/periodos/2013|2014|2015|2016|2017|2018|2019|2020|2021/variaveis/10750?localidades=N3[all]&classificacao=11308[49204,49205]')
resultado = request.json()

lista_resultados = []

for serie in resultado[0]['resultados'][0]['series']:
        codigo_local = serie['localidade']['id']
        nome_local = serie['localidade']['nome']
        ano = list(serie['serie'].keys())
        for y in ano:
          valor = serie['serie'][y]
          lista_resultados.append(
              {
                'codigo_local':codigo_local,           
                'nome_local':nome_local,
                'ano':y,
                'valor': valor
              })
df = pd.DataFrame(lista_resultados)
df

    codigo_local        nome_local   ano valor
0             11          Rondônia  2013  1277
1             11          Rondônia  2014  1335
2             11          Rondônia  2015  1469
3             11          Rondônia  2016  1518
4             11          Rondônia  2017  1634
..           ...               ...   ...   ...
238           53  Distrito Federal  2017  3856
239           53  Distrito Federal  2018  3868
240           53  Distrito Federal  2019  4110
241           53  Distrito Federal  2020  3974
242           53  Distrito Federal  2021  4167

[243 rows x 4 columns]